:where(:root) {
  fieldset {
    border: 1px solid var(--color-border-subtle);
    border-radius: var(--radius-sm);
    margin-bottom: 1rem;
  }

  legend {
    color: var(--color-text-strong);
  }
}
